POSTGRES_USER=ksa_user
POSTGRES_PASSWORD=ksa_password
POSTGRES_DB=ksa_tickets
POSTGRES_PORT=5432

# URL connection string for the database
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

BACKEND_PORT=8000
FRONTEND_PORT=3000